@import "normalize.css";
@import "font-awesome.css";

@-webkit-keyframes move {
  0% {left: 0px;}
  49% {left: 100%; opacity: 1;}
  50% {left: 100%; opacity: 0;}
  51% {left: -100%; opacity: 0;} 
  52% {left: -100%; opacity: 1;} 
  100% {left: 0px;} 
}

@-webkit-keyframes backup {
  0% {left: -100%;}
  100% {left: 100%;}  

}  

@-moz-keyframes move {
  0% {left: 0px;}
  49% {left: 100%; opacity: 1;}
  50% {left: 100%; opacity: 0;}
  51% {left: -100%; opacity: 0;} 
  52% {left: -100%; opacity: 1;} 
  100% {left: 0px;} 
}

@-moz-keyframes backup {
  0% {left: -100%;}
  100% {left: 100%;}  

}  

@-ms-keyframes move {
  0% {left: 0px;}
  49% {left: 100%; opacity: 1;}
  50% {left: 100%; opacity: 0;}
  51% {left: -100%; opacity: 0;} 
  52% {left: -100%; opacity: 1;} 
  100% {left: 0px;} 
}

@-ms-keyframes backup {
  0% {left: -100%;}
  100% {left: 100%;}  

} 

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}


@mixin animation($animation) {
  -webkit-animation: $animation;
     -moz-animation: $animation;
      -ms-animation: $animation;
          animation: $animation;
}

@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
     -moz-box-shadow: $box-shadow;
      -ms-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../font/gotham-book-webfont.eot');
    src: url('../font/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gotham-book-webfont.woff2') format('woff2'),
         url('../font/gotham-book-webfont.woff') format('woff'),
         url('../font/gotham-book-webfont.ttf') format('truetype'),
         url('../font/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lazy_sundayregular';
    src: url('../font/lazy_sunday_regular-webfont.eot');
    src: url('../font/lazy_sunday_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lazy_sunday_regular-webfont.woff2') format('woff2'),
         url('../font/lazy_sunday_regular-webfont.woff') format('woff'),
         url('../font/lazy_sunday_regular-webfont.ttf') format('truetype'),
         url('../font/lazy_sunday_regular-webfont.svg#lazy_sundayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#dvLoading {
  background: #FFF;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  overflow: hidden;
  text-align: center;
}

#loader {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.absolute{
  position: absolute;
}

.list{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;

  &:focus{
    outline:none;
  }
}

.row{
  max-width: 1060px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.btn-primary{
      font-family: lazy_sundayregular;
      font-size: 18px;
      color: #FFF;
      background-color: #00aeef;
      display: inline-block;
      padding: 5px 30px;
      border-radius: 20px;
      position: relative;
      @include box-shadow(2px 3px 0px #054f7c);
      @include transition(all 0.3s ease-in-out);

      &:hover{
        background-color:#0186B8;
      }

      &:active,
      &:focus{
        top: -2px;
      }

      &.yellow{
        background-color: #fff200;
        color: #24437f;
        @include box-shadow(2px 3px 0px #054f7c);
        @include transition(all 0.3s ease-in-out);

        &:hover{
          background-color:#fff428;
        }
      }
}

.w-1000{
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.text-center{
  text-align: center;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body{
      background: #076692;
      color: #555555;
      overflow-x:hidden;
      font-family: 'gotham_bookregular';
   }

   .social{
      position: absolute;
      left: 20px;
      top: 20px;
      z-index: 100000;
   }

   .social a:hover{
      opacity: 0.8;
   }

    img{
        max-width: 100%;
   }

   .parallax{
        list-style: none;
        margin: 0;
        padding: 0;
        position: inherit !important;
        height: 100%;
        z-index: 11
   }

   .page {
        height: 800px;
        opacity: 0;
        /*overflow: hidden;*/
       /* @include transition(all 0.2s ease-in-out);*/
   }

     #logo {
          position: absolute;
          right: 0;
          z-index: 100000;
          -webkit-transition-property: all;
          -webkit-transition-duration: .5s;
          -webkit-transform: rotateX(-90deg);
          -webkit-transform-origin: top;
          -moz-transition-property: all;
          -moz-transition-duration: .5s;
          -moz-transform: rotateX(-90deg);
          -moz-transform-origin: top;
          -o-transition-property: all;
          -o-transition-duration: .5s;
          -o-transform: rotateX(-90deg);
          -o-transform-origin: top;
          transition-property: all;
          transition-duration: .5s;
          transform: rotateX(-90deg);
          transform-origin: top;
          height: 50px;
     
         &.active{
              -webkit-transform: rotateX(0deg);
              -moz-transform: rotateX(0deg);
              -o-transform: rotateX(0deg);
              transform: rotateX(0deg);
              height: 280px;
          }
     }


/* Page 1
   ============ */
   #page-1 {
        position: relative;
        background-color: #FFF;

        #land{
           background: url(../images/land.png) bottom center no-repeat;
           position: absolute;
           bottom: 0;
           width: 100%;
           height: 326px;
           z-index: 10
        }

        #sun{
            img{
              position: absolute;
              right: 100px;
              bottom: 0px;
                @include transform(translate3d(0, 140px, 0));
                -webkit-transition: -webkit-transform 2000ms ease;
                -moz-transition: -moz-transform 2000ms ease;
                -ms-transition: -ms-transform 2000ms ease;
                -o-transition: -o-transform 2000ms ease;
                transition: transform 2000ms ease;

              &.active{
                /*bottom: 140px;*/
                @include transform(translate3d(0, -140px, 0));
                -webkit-transition: -webkit-transform 2000ms ease;
                -moz-transition: -moz-transform 2000ms ease;
                -ms-transition: -ms-transform 2000ms ease;
                -o-transition: -o-transform 2000ms ease;
                transition: transform 2000ms ease;
              }
            }
        }

        .wHeight{
          top: 0;
          z-index: 2000;
        }

        .floating-button {
            position: absolute;
            bottom: 30px;
            z-index: 1000;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;

            .btn-primary{
              background-color: #24437f;
              @include box-shadow(3px 3px 0px rgba(0, 0, 0, 0.6));

              &:hover{
                background-color: #102c62;
              }
            }
        }

        .botol {
            z-index: 100;
        }

        .layer{
            width: 100%;
            height: 100%;
            position: absolute;

            img{
                position: absolute;
            }

            .bottom{
                bottom: -30px;
            }

            &.w-1000{
              left: 0;
              right: 0;
            }

        }

        .layer.child{
                z-index: 200;   
            }

          #logo-text{
              div{
                position: absolute;
                right: 70px;
                width: 335px;
                top: 90px;
                z-index: 100000;

                img{
                  display: block;
                  position: relative;
                  margin-bottom: 15px;
                }

                span{
                  display: block;
                  font-size: 20px;
                  color: #26337a;
                  line-height: 1.2;
                }
              }
          }

         .awan-atas {
            top: -80px;
            left: -500px;
            -webkit-animation: move 100s infinite linear;  
              -moz-animation: move 100s infinite linear;  
              -ms-animation: move 100s infinite linear;

        }   

        .awan-kiri {
            background:url(../images/awan-kiri.png);
            background-size: cover;
            width: 507px;
            height: 212px;
            top: 100px;
            left: -90px;
             @include animation(backup 60s infinite linear);
        }

        .awan-kanan {
            left: -100px;
            top: 200px;
            -webkit-animation: move 80s infinite linear;  
              -moz-animation: move 80s infinite linear;  
              -ms-animation: move 80s infinite linear;
        }

        .bottle{
            margin-left: 100px;
            margin-top: 45px;
            width: 190px;
            z-index: 100;
        }

        .gedung-kiri {
            bottom: 90px;
            left: -235px;
        }

        .gedung-kanan{
            right: -120px;
            bottom: 65px;
        }

        .bocah{
            bottom: 110px;
            right: -30px;
        }

        .edisi {
            left: 300px;
            top: 120px;
        }
   }

/* Page 2
   ============ */
    #page-2{    
        background: #045d86 url(../images/bg/sevel-top.jpg) no-repeat top center;

        .overlay{
            background: url(../images/bg/overlay.png) no-repeat top center;
            position: absolute;
            /*top: 0;*/
            z-index: 100;
            width: 100%;
            height: 500px;
        }


        #alfamart{
            padding-top: 80px;

            ul{
              list-style: none;
              background: url(../images/paper-alfamart.png) center no-repeat;
              width: 1020px;
              height: 320px;
              margin: auto;

              li{
                position: relative;
                width: 340px;
                height: 320px;
                float: left;

                &:first-child .box{
                  padding: 50px;
                  text-align: center;
                }

                &:last-child img{
                  position: absolute;
                  right: -115px;
                  max-width: none;
                  top: -45px;

                }

                &:nth-child(2){
                    p{
                      position: absolute;
                      bottom: 10px;
                      padding: 15px;
                      font-size: 12px;
                      color: #555555;
                    }
                }
              }
            }
        }
    }

    .periode{
        p{
          color: #FFF;
          font-size: 12px;
          
          strong{
              text-transform: uppercase;
              color: #00aeef;
            }
        }
    }

/* Page 3
   ============ */
    #page-3{
        height: 950px;
        background:#076692  url(../images/bg/sevel-bottom.jpg) no-repeat top center;

        #alfamidi{
          padding-top: 126px;

          .prize{
            width: 380px;

            img{
              max-width: none;
              margin-top: -50px;
            }
          }

          .intro{
              width: 200px;
              margin-left: 115px;
              color: #FFF;
              text-align: center;
          }

        }



    }

/* Page 4
   ============ */
    #page-4{
        height: 950px;
        background:#045D87 url(../images/bg/indomart-top.jpg) no-repeat top center;

        #indomaret{
            padding-top: 26px;

            .headline {
              width: 400px;
              color: #FFF;

              p{
                width: 300px;
              }

              img{
                max-width: none;
              }
            }

            .prize{
                img{
                  margin-top: -30px;
                }
            }
        }
    }

/* Page 5
   ============ */
    #page-5{
        background: url(../images/bg/indomart-bottom.jpg)top center no-repeat;
        background-color: #076692;
        height: 1100px;

        #sevel{
            padding-top: 11px;

            .headline {
              width: 400px;
              color: #FFF;

              .details{
                margin-left: 70px;
              }

              img{
                max-width: none;
              }
            }

            .prize{
              position: relative;
              left: -60px;

                img{
                 margin-top: 70px;
                 max-width: none;
                }

                .periode{
                  margin-left: 100px;
                  margin-top: 20px;
                }
            }
        }
    }

/* Page 6
   ============ */
#page-6{
  height: 500px;

  .list{
    list-style: none;
    height: 340px;
    background: url(../images/ck-paper.png) center no-repeat;

              li{
                position: relative;
                width: 340px;
                height: 320px;
                float: left;

                &:nth-child(2){
                  text-align:center;

                  img{
                    margin-top: -30px;
                    margin-left: 40px;
                  }
                }

                &:last-child .box{
                    padding: 50px 30px;
                    text-align: center;
                    margin-left: 25px;
                }


                &:first-child{
                    .periode{
                      position: absolute;
                      bottom: 10px;
                      padding: 15px;
                      font-size: 12px;
                      color: #555555;
                      margin-left: 30px;

                      p{
                        color: #555555;
                      }
                    }
                }
              }
  }
}

#footer{
  background: url(../images/bg/footer.jpg) bottom center no-repeat;
  height: 270px;
  position: relative;
  clear: both;

  .row{
    position: absolute;
    bottom: 100px;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 12px;

    a{
      color: #fff;

      &:hover{
        border-bottom:1px dotted;
      }

      &:first-child{
        margin-right: 20px;
      }
    }
  }
}

/* Single Page
==========================================*/
.single {
    #header{
        background-image: url(../images/single/bg-header.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom center;
        background-color: #FFF;
        height: 900px;
        position: relative;
    }

    #prize-image{
      text-align: center;
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;

      .gadget{
        position: absolute;
        right: 20px;
        bottom: -222px;
      }
    }

    #post{
      &.row{
        max-width: 950px;
        position: relative;
      }
    }

    .half{
      width: 550px;
      float: left;
    }

    h3{
      text-transform: uppercase;
      font-size: 1.250em;
      color: #0ea8e1;
      margin-bottom: 10px;
      font-weight:  bold; 
    }

    article{
      color: #FFF;

      ol{
        li{
          margin-bottom: 10px;
        }
      }

      ul.list-with-images{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
          margin: 0 0 10px;

          img{
            display: inline-block;
            vertical-align: middle;
            width: 130px;
          }

          .details{
            display: inline-block;
            vertical-align: middle;
            width: 390px;
            margin-left: 20px;
          }
        }
      }

      .box-blue{
        font-size: 0.875em;
        line-height: 1.5;
        background: #367d9e;
        padding: 10px;
        border-radius: 5px;

        h4{
          margin: 0;
        }

        p{
          margin: 0;
        }
      }
    }

    #sidebar{
      float: right;
      width: 360px;
      margin-top: 120px;
      text-align:   center; 

      #jenis-permainan{
        text-align: left;
        color: #FFF;
        background:#0E72A0;
        border-radius: 10px;

        ul{
          padding: 15px;
          list-style: none;

          li{
            position: relative;

            .images{
              float: left;
              position: absolute;
            }

            .details{
              font-size: 13px;
              float: left;
              position: relative;

              p{
                margin-top: 0;
              }

              h4{
                font-size: 18px;
                color: #0ea8e1;
                text-transform: uppercase;
                margin-bottom: 0;
              }
            }

            &:first-child{
              .images{
                width: 109px;
                left: -20px;
              }

              .details{
                width: 220px;
                left: 110px;
              }
            }

            &:nth-child(2){
             .images{
                width: 144px;
                left: 255px;
              }

              .details{
                width: 240px;
              }
            }

            &:nth-child(3){
              .images{
                width: 177px;
                left: -50px;
                top: 40px;
              }

              .details{
                width: 200px;
                left: 135px;
              }
            }

            &:nth-child(4){
             .images{
                  width: 190px;
                  left: 215px;
                  top: 50px;
              }

              .details{
                width: 200px;
              }
            }
          }
        }
      }

      .share-button{
        a{
          &:hover{
            opacity:0.8;
          }
        }
      }

      .box{
        h3{
          margin-bottom:  0;
        }
        span{
          color:#fff;
        }
      }
    }
    .logo{
      position: relative;
          img{
            position: absolute; 
            top: 75px;
            right: 75px;
          }
    }

    .no-list-style{
      list-style: none;
      padding: 0;

      li{
        margin-bottom: 20px;
        color: #acddf3;

        strong{
          color: #FFFFFF;
        }
      }
    }

    &.sevel{
      #prize-image{
        bottom: 205px;
        @include transition(all 0.3s ease);

        img{
          width: 1000px;
        }
      }
      #sidebar{
        margin-top: 0;
      }
    }

    &.circle-k{
      #header{
          background-image: url(../images/single/ck-bg-header.jpg);
      }

      #prize-image{
        bottom: 140px;
        @include transition(all 0.3s ease);

        img{
          width: 950px;
        }
      }

      #sidebar{
        margin-top: 0;
      }
    }
}

/* Mobile Content
===============================================*/
.desktop-content{
  height: 100%;
}


.mobile-content{
    display: none;

}


@media only screen and (max-width: 1024px) {
  .row{
      width: 95%;
      max-width: 640px;
      padding: 0;
      margin: auto
  }

  .desktop-content{
      display: none;
  }

  .mobile-content{
      display: block;
  }


  .description{
    font-size: 1.875em;
    color: #FFF;
  }

  #page-1 {
      background-image: url(../images/tablet-page-1.jpg);
      background-repeat: no-repeat;
      background-position: bottom center;

      #button-container{
        height: 600px !important;

        .floating-button {
            width: 80%;
            bottom: -20px;
            }
      }
  
      #logo-text {
          div{
            position: absolute;
            right: 235px;
            width: 240px;
            top: 42px;
            z-index: 1;
          
            img{
              margin-bottom: 5px;
            }

            span{
              font-size: 16px;
            }

          }
      }
  }

  .periode{
    margin-bottom: 0;

    p{
      margin-bottom: 0;
    }
  }

  #page-2{
    background-image: none;
    height: auto;
  }

  #page-3{
    height: auto;

    .btn-primary{
      &.yellow{
        margin-top: 20px;
      }
    }
  }

  #page-4{
    height: auto;
    padding: 80px 0 20px;
  }

  #page-5{
    height: auto;
    padding: 80px 0 20px;
  }

  #page-6{
    height: auto;
    padding: 80px 0 20px;
  }

  #footer{
    text-align: center;

    .row{
      bottom: 20px;
    }

    .left, .right{
      float: none;
    }
  }

  .single{
    #header{
      height: 750px;
    }

    .logo{
      img{
        top: 90px;
        right: auto;
        line-height: 0;
        max-width: 240px;
        left: 20px;
      }
    }
    .half{
      width: 100%;
      float: none;
    }

    #sidebar{
      float: none;
      margin-top: 20px;
      width: 100%;

      #jenis-permainan{
        ul{
          li{
            .images{
              float: none;
              position: relative;
              text-align: center;
              width: auto !important;
              left: auto !important;
              top: auto !important;
              right: auto !important;
              bottom: auto !important;
            }

            .details{
              float: none;
              position: relative;
              text-align: center;
              width: auto !important;
              left: auto !important;
              top: auto !important;
              right: auto !important;
              bottom: auto !important;
            }
          }
        }
      }
    }

    #prize-image{
      display: none
     }

     #post{
      margin-top: 40px;
     }

     .mobile-content{
        .prize{
          position: absolute;
          bottom: -24px;
          left: 0;
          right: 0;
          margin: auto;
        }
     }

     &.circle-k, &.sevel{
        .mobile-content{
          .prize{
            bottom: 80px;
          }
        }
     }
  }

}



@media only screen and (max-width: 640px) {
  .description{
    font-size: 1.563em;
    line-height: 1.3;
  }

  #logo{
    width: 140px;
  }

  #page-1{
    background-image: url(../images/mobile/mobile-page-1.jpg);
    background-size: 100%;
    height: 600px;

    #logo-text {
      div{
        right: auto;
        left: 20px;
        top: 85px;
      }
    }
  }

  .single{
    #header{
      height: 700px;
      background-image: url(../images/single/bg-header-mobile.jpg) !important;
    }
    article{
      ul.list-with-images{
        li{
          img{
            max-width: 100px;
          }
        }
      }
    }

    #sidebar{
      width: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .single{
    #header{
      height: 600px;
    }

    article{
      h3{
        &:first-child{
          text-align:center;
        }
      }
      ul.list-with-images{
        li{
          text-align: center;

          img{
            max-width: 80px;
            display: block;
            margin: 0 auto 10px;
          }

          .details{
            display: block;
            width: 100% !important;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}