@import url(normalize.css);
@import url(font-awesome.css);
@-webkit-keyframes move {
  0% {
    left: 0px; }

  49% {
    left: 100%;
    opacity: 1; }

  50% {
    left: 100%;
    opacity: 0; }

  51% {
    left: -100%;
    opacity: 0; }

  52% {
    left: -100%;
    opacity: 1; }

  100% {
    left: 0px; } }
@-webkit-keyframes backup {
  0% {
    left: -100%; }

  100% {
    left: 100%; } }
@-moz-keyframes move {
  0% {
    left: 0px; }

  49% {
    left: 100%;
    opacity: 1; }

  50% {
    left: 100%;
    opacity: 0; }

  51% {
    left: -100%;
    opacity: 0; }

  52% {
    left: -100%;
    opacity: 1; }

  100% {
    left: 0px; } }
@-moz-keyframes backup {
  0% {
    left: -100%; }

  100% {
    left: 100%; } }
@-ms-keyframes move {
  0% {
    left: 0px; }

  49% {
    left: 100%;
    opacity: 1; }

  50% {
    left: 100%;
    opacity: 0; }

  51% {
    left: -100%;
    opacity: 0; }

  52% {
    left: -100%;
    opacity: 1; }

  100% {
    left: 0px; } }
@-ms-keyframes backup {
  0% {
    left: -100%; }

  100% {
    left: 100%; } }
@font-face {
  font-family: 'gotham_bookregular';
  src: url("../font/gotham-book-webfont.eot");
  src: url("../font/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../font/gotham-book-webfont.woff2") format("woff2"), url("../font/gotham-book-webfont.woff") format("woff"), url("../font/gotham-book-webfont.ttf") format("truetype"), url("../font/gotham-book-webfont.svg#gotham_bookregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lazy_sundayregular';
  src: url("../font/lazy_sunday_regular-webfont.eot");
  src: url("../font/lazy_sunday_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lazy_sunday_regular-webfont.woff2") format("woff2"), url("../font/lazy_sunday_regular-webfont.woff") format("woff"), url("../font/lazy_sunday_regular-webfont.ttf") format("truetype"), url("../font/lazy_sunday_regular-webfont.svg#lazy_sundayregular") format("svg");
  font-weight: normal;
  font-style: normal; }
#dvLoading {
  background: #FFF;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  overflow: hidden;
  text-align: center; }

#loader {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

.absolute {
  position: absolute; }

.list {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:focus {
    outline: none; }

.row {
  max-width: 1060px;
  width: 100%;
  margin: auto;
  padding: 0 15px; }

.left {
  float: left; }

.right {
  float: right; }

.btn-primary {
  font-family: lazy_sundayregular;
  font-size: 18px;
  color: #FFF;
  background-color: #00aeef;
  display: inline-block;
  padding: 5px 30px;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 2px 3px 0px #054f7c;
  -moz-box-shadow: 2px 3px 0px #054f7c;
  -ms-box-shadow: 2px 3px 0px #054f7c;
  box-shadow: 2px 3px 0px #054f7c;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn-primary:hover {
    background-color: #0186B8; }
  .btn-primary:active, .btn-primary:focus {
    top: -2px; }
  .btn-primary.yellow {
    background-color: #fff200;
    color: #24437f;
    -webkit-box-shadow: 2px 3px 0px #054f7c;
    -moz-box-shadow: 2px 3px 0px #054f7c;
    -ms-box-shadow: 2px 3px 0px #054f7c;
    box-shadow: 2px 3px 0px #054f7c;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .btn-primary.yellow:hover {
      background-color: #fff428; }

.w-1000 {
  max-width: 1000px;
  width: 100%;
  margin: auto; }

.text-center {
  text-align: center; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background: #076692;
  color: #555555;
  overflow-x: hidden;
  font-family: 'gotham_bookregular'; }

.social {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 100000; }

.social a:hover {
  opacity: 0.8; }

img {
  max-width: 100%; }

.parallax {
  list-style: none;
  margin: 0;
  padding: 0;
  position: inherit !important;
  height: 100%;
  z-index: 11; }

.page {
  height: 800px;
  opacity: 0;
  /*overflow: hidden;*/
  /* @include transition(all 0.2s ease-in-out);*/ }

#logo {
  position: absolute;
  right: 0;
  z-index: 100000;
  -webkit-transition-property: all;
  -webkit-transition-duration: .5s;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: top;
  -moz-transition-property: all;
  -moz-transition-duration: .5s;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: top;
  -o-transition-property: all;
  -o-transition-duration: .5s;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: top;
  transition-property: all;
  transition-duration: .5s;
  transform: rotateX(-90deg);
  transform-origin: top;
  height: 50px; }
  #logo.active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    height: 280px; }

/* Page 1
   ============ */
#page-1 {
  position: relative;
  background-color: #FFF; }
  #page-1 #land {
    background: url(../images/land.png) bottom center no-repeat;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 326px;
    z-index: 10; }
  #page-1 #sun img {
    position: absolute;
    right: 100px;
    bottom: 0px;
    -webkit-transform: translate3d(0, 140px, 0);
    -moz-transform: translate3d(0, 140px, 0);
    -ms-transform: translate3d(0, 140px, 0);
    transform: translate3d(0, 140px, 0);
    -webkit-transition: -webkit-transform 2000ms ease;
    -moz-transition: -moz-transform 2000ms ease;
    -ms-transition: -ms-transform 2000ms ease;
    -o-transition: -o-transform 2000ms ease;
    transition: transform 2000ms ease; }
    #page-1 #sun img.active {
      /*bottom: 140px;*/
      -webkit-transform: translate3d(0, -140px, 0);
      -moz-transform: translate3d(0, -140px, 0);
      -ms-transform: translate3d(0, -140px, 0);
      transform: translate3d(0, -140px, 0);
      -webkit-transition: -webkit-transform 2000ms ease;
      -moz-transition: -moz-transform 2000ms ease;
      -ms-transition: -ms-transform 2000ms ease;
      -o-transition: -o-transform 2000ms ease;
      transition: transform 2000ms ease; }
  #page-1 .wHeight {
    top: 0;
    z-index: 2000; }
  #page-1 .floating-button {
    position: absolute;
    bottom: 30px;
    z-index: 1000;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }
    #page-1 .floating-button .btn-primary {
      background-color: #24437f;
      -webkit-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6);
      -ms-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6);
      box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6); }
      #page-1 .floating-button .btn-primary:hover {
        background-color: #102c62; }
  #page-1 .botol {
    z-index: 100; }
  #page-1 .layer {
    width: 100%;
    height: 100%;
    position: absolute; }
    #page-1 .layer img {
      position: absolute; }
    #page-1 .layer .bottom {
      bottom: -30px; }
    #page-1 .layer.w-1000 {
      left: 0;
      right: 0; }
  #page-1 .layer.child {
    z-index: 200; }
  #page-1 #logo-text div {
    position: absolute;
    right: 70px;
    width: 335px;
    top: 90px;
    z-index: 100000; }
    #page-1 #logo-text div img {
      display: block;
      position: relative;
      margin-bottom: 15px; }
    #page-1 #logo-text div span {
      display: block;
      font-size: 20px;
      color: #26337a;
      line-height: 1.2; }
  #page-1 .awan-atas {
    top: -80px;
    left: -500px;
    -webkit-animation: move 100s infinite linear;
    -moz-animation: move 100s infinite linear;
    -ms-animation: move 100s infinite linear; }
  #page-1 .awan-kiri {
    background: url(../images/awan-kiri.png);
    background-size: cover;
    width: 507px;
    height: 212px;
    top: 100px;
    left: -90px;
    -webkit-animation: backup 60s infinite linear;
    -moz-animation: backup 60s infinite linear;
    -ms-animation: backup 60s infinite linear;
    animation: backup 60s infinite linear; }
  #page-1 .awan-kanan {
    left: -100px;
    top: 200px;
    -webkit-animation: move 80s infinite linear;
    -moz-animation: move 80s infinite linear;
    -ms-animation: move 80s infinite linear; }
  #page-1 .bottle {
    margin-left: 100px;
    margin-top: 45px;
    width: 190px;
    z-index: 100; }
  #page-1 .gedung-kiri {
    bottom: 90px;
    left: -235px; }
  #page-1 .gedung-kanan {
    right: -120px;
    bottom: 65px; }
  #page-1 .bocah {
    bottom: 110px;
    right: -30px; }
  #page-1 .edisi {
    left: 300px;
    top: 120px; }

/* Page 2
   ============ */
#page-2 {
  background: #045d86 url(../images/bg/sevel-top.jpg) no-repeat top center; }
  #page-2 .overlay {
    background: url(../images/bg/overlay.png) no-repeat top center;
    position: absolute;
    /*top: 0;*/
    z-index: 100;
    width: 100%;
    height: 500px; }
  #page-2 #alfamart {
    padding-top: 80px; }
    #page-2 #alfamart ul {
      list-style: none;
      background: url(../images/paper-alfamart.png) center no-repeat;
      width: 1020px;
      height: 320px;
      margin: auto; }
      #page-2 #alfamart ul li {
        position: relative;
        width: 340px;
        height: 320px;
        float: left; }
        #page-2 #alfamart ul li:first-child .box {
          padding: 50px;
          text-align: center; }
        #page-2 #alfamart ul li:last-child img {
          position: absolute;
          right: -115px;
          max-width: none;
          top: -45px; }
        #page-2 #alfamart ul li:nth-child(2) p {
          position: absolute;
          bottom: 10px;
          padding: 15px;
          font-size: 12px;
          color: #555555; }

.periode p {
  color: #FFF;
  font-size: 12px; }
  .periode p strong {
    text-transform: uppercase;
    color: #00aeef; }

/* Page 3
   ============ */
#page-3 {
  height: 950px;
  background: #076692 url(../images/bg/sevel-bottom.jpg) no-repeat top center; }
  #page-3 #alfamidi {
    padding-top: 126px; }
    #page-3 #alfamidi .prize {
      width: 380px; }
      #page-3 #alfamidi .prize img {
        max-width: none;
        margin-top: -50px; }
    #page-3 #alfamidi .intro {
      width: 200px;
      margin-left: 115px;
      color: #FFF;
      text-align: center; }

/* Page 4
   ============ */
#page-4 {
  height: 950px;
  background: #045d87 url(../images/bg/indomart-top.jpg) no-repeat top center; }
  #page-4 #indomaret {
    padding-top: 26px; }
    #page-4 #indomaret .headline {
      width: 400px;
      color: #FFF; }
      #page-4 #indomaret .headline p {
        width: 300px; }
      #page-4 #indomaret .headline img {
        max-width: none; }
    #page-4 #indomaret .prize img {
      margin-top: -30px; }

/* Page 5
   ============ */
#page-5 {
  background: url(../images/bg/indomart-bottom.jpg) top center no-repeat;
  background-color: #076692;
  height: 1100px; }
  #page-5 #sevel {
    padding-top: 11px; }
    #page-5 #sevel .headline {
      width: 400px;
      color: #FFF; }
      #page-5 #sevel .headline .details {
        margin-left: 70px; }
      #page-5 #sevel .headline img {
        max-width: none; }
    #page-5 #sevel .prize {
      position: relative;
      left: -60px; }
      #page-5 #sevel .prize img {
        margin-top: 70px;
        max-width: none; }
      #page-5 #sevel .prize .periode {
        margin-left: 100px;
        margin-top: 20px; }

/* Page 6
   ============ */
#page-6 {
  height: 500px; }
  #page-6 .list {
    list-style: none;
    height: 340px;
    background: url(../images/ck-paper.png) center no-repeat; }
    #page-6 .list li {
      position: relative;
      width: 340px;
      height: 320px;
      float: left; }
      #page-6 .list li:nth-child(2) {
        text-align: center; }
        #page-6 .list li:nth-child(2) img {
          margin-top: -30px;
          margin-left: 40px; }
      #page-6 .list li:last-child .box {
        padding: 50px 30px;
        text-align: center;
        margin-left: 25px; }
      #page-6 .list li:first-child .periode {
        position: absolute;
        bottom: 10px;
        padding: 15px;
        font-size: 12px;
        color: #555555;
        margin-left: 30px; }
        #page-6 .list li:first-child .periode p {
          color: #555555; }

#footer {
  background: url(../images/bg/footer.jpg) bottom center no-repeat;
  height: 270px;
  position: relative;
  clear: both; }
  #footer .row {
    position: absolute;
    bottom: 100px;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 12px; }
    #footer .row a {
      color: #fff; }
      #footer .row a:hover {
        border-bottom: 1px dotted; }
      #footer .row a:first-child {
        margin-right: 20px; }

/* Single Page
==========================================*/
.single #header {
  background-image: url(../images/single/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  background-color: #FFF;
  height: 900px;
  position: relative; }
.single #prize-image {
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0; }
  .single #prize-image .gadget {
    position: absolute;
    right: 20px;
    bottom: -222px; }
.single #post.row {
  max-width: 950px;
  position: relative; }
.single .half {
  width: 550px;
  float: left; }
.single h3 {
  text-transform: uppercase;
  font-size: 1.250em;
  color: #0ea8e1;
  margin-bottom: 10px;
  font-weight: bold; }
.single article {
  color: #FFF; }
  .single article ol li {
    margin-bottom: 10px; }
  .single article ul.list-with-images {
    list-style: none;
    margin: 0;
    padding: 0; }
    .single article ul.list-with-images li {
      margin: 0 0 10px; }
      .single article ul.list-with-images li img {
        display: inline-block;
        vertical-align: middle;
        width: 130px; }
      .single article ul.list-with-images li .details {
        display: inline-block;
        vertical-align: middle;
        width: 390px;
        margin-left: 20px; }
  .single article .box-blue {
    font-size: 0.875em;
    line-height: 1.5;
    background: #367d9e;
    padding: 10px;
    border-radius: 5px; }
    .single article .box-blue h4 {
      margin: 0; }
    .single article .box-blue p {
      margin: 0; }
.single #sidebar {
  float: right;
  width: 360px;
  margin-top: 120px;
  text-align: center; }
  .single #sidebar #jenis-permainan {
    text-align: left;
    color: #FFF;
    background: #0E72A0;
    border-radius: 10px; }
    .single #sidebar #jenis-permainan ul {
      padding: 15px;
      list-style: none; }
      .single #sidebar #jenis-permainan ul li {
        position: relative; }
        .single #sidebar #jenis-permainan ul li .images {
          float: left;
          position: absolute; }
        .single #sidebar #jenis-permainan ul li .details {
          font-size: 13px;
          float: left;
          position: relative; }
          .single #sidebar #jenis-permainan ul li .details p {
            margin-top: 0; }
          .single #sidebar #jenis-permainan ul li .details h4 {
            font-size: 18px;
            color: #0ea8e1;
            text-transform: uppercase;
            margin-bottom: 0; }
        .single #sidebar #jenis-permainan ul li:first-child .images {
          width: 109px;
          left: -20px; }
        .single #sidebar #jenis-permainan ul li:first-child .details {
          width: 220px;
          left: 110px; }
        .single #sidebar #jenis-permainan ul li:nth-child(2) .images {
          width: 144px;
          left: 255px; }
        .single #sidebar #jenis-permainan ul li:nth-child(2) .details {
          width: 240px; }
        .single #sidebar #jenis-permainan ul li:nth-child(3) .images {
          width: 177px;
          left: -50px;
          top: 40px; }
        .single #sidebar #jenis-permainan ul li:nth-child(3) .details {
          width: 200px;
          left: 135px; }
        .single #sidebar #jenis-permainan ul li:nth-child(4) .images {
          width: 190px;
          left: 215px;
          top: 50px; }
        .single #sidebar #jenis-permainan ul li:nth-child(4) .details {
          width: 200px; }
  .single #sidebar .share-button a:hover {
    opacity: 0.8; }
  .single #sidebar .box h3 {
    margin-bottom: 0; }
  .single #sidebar .box span {
    color: #fff; }
.single .logo {
  position: relative; }
  .single .logo img {
    position: absolute;
    top: 75px;
    right: 75px; }
.single .no-list-style {
  list-style: none;
  padding: 0; }
  .single .no-list-style li {
    margin-bottom: 20px;
    color: #acddf3; }
    .single .no-list-style li strong {
      color: #FFFFFF; }
.single.sevel #prize-image {
  bottom: 205px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .single.sevel #prize-image img {
    width: 1000px; }
.single.sevel #sidebar {
  margin-top: 0; }
.single.circle-k #header {
  background-image: url(../images/single/ck-bg-header.jpg); }
.single.circle-k #prize-image {
  bottom: 140px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .single.circle-k #prize-image img {
    width: 950px; }
.single.circle-k #sidebar {
  margin-top: 0; }

/* Mobile Content
===============================================*/
.desktop-content {
  height: 100%; }

.mobile-content {
  display: none; }

@media only screen and (max-width: 1024px) {
  .row {
    width: 95%;
    max-width: 640px;
    padding: 0;
    margin: auto; }

  .desktop-content {
    display: none; }

  .mobile-content {
    display: block; }

  .description {
    font-size: 1.875em;
    color: #FFF; }

  #page-1 {
    background-image: url(../images/tablet-page-1.jpg);
    background-repeat: no-repeat;
    background-position: bottom center; }
    #page-1 #button-container {
      height: 600px !important; }
      #page-1 #button-container .floating-button {
        width: 80%;
        bottom: -20px; }
    #page-1 #logo-text div {
      position: absolute;
      right: 235px;
      width: 240px;
      top: 42px;
      z-index: 1; }
      #page-1 #logo-text div img {
        margin-bottom: 5px; }
      #page-1 #logo-text div span {
        font-size: 16px; }

  .periode {
    margin-bottom: 0; }
    .periode p {
      margin-bottom: 0; }

  #page-2 {
    background-image: none;
    height: auto; }

  #page-3 {
    height: auto; }
    #page-3 .btn-primary.yellow {
      margin-top: 20px; }

  #page-4 {
    height: auto;
    padding: 80px 0 20px; }

  #page-5 {
    height: auto;
    padding: 80px 0 20px; }

  #page-6 {
    height: auto;
    padding: 80px 0 20px; }

  #footer {
    text-align: center; }
    #footer .row {
      bottom: 20px; }
    #footer .left, #footer .right {
      float: none; }

  .single #header {
    height: 750px; }
  .single .logo img {
    top: 90px;
    right: auto;
    line-height: 0;
    max-width: 240px;
    left: 20px; }
  .single .half {
    width: 100%;
    float: none; }
  .single #sidebar {
    float: none;
    margin-top: 20px;
    width: 100%; }
    .single #sidebar #jenis-permainan ul li .images {
      float: none;
      position: relative;
      text-align: center;
      width: auto !important;
      left: auto !important;
      top: auto !important;
      right: auto !important;
      bottom: auto !important; }
    .single #sidebar #jenis-permainan ul li .details {
      float: none;
      position: relative;
      text-align: center;
      width: auto !important;
      left: auto !important;
      top: auto !important;
      right: auto !important;
      bottom: auto !important; }
  .single #prize-image {
    display: none; }
  .single #post {
    margin-top: 40px; }
  .single .mobile-content .prize {
    position: absolute;
    bottom: -24px;
    left: 0;
    right: 0;
    margin: auto; }
  .single.circle-k .mobile-content .prize, .single.sevel .mobile-content .prize {
    bottom: 80px; } }
@media only screen and (max-width: 640px) {
  .description {
    font-size: 1.563em;
    line-height: 1.3; }

  #logo {
    width: 140px; }

  #page-1 {
    background-image: url(../images/mobile/mobile-page-1.jpg);
    background-size: 100%;
    height: 600px; }
    #page-1 #logo-text div {
      right: auto;
      left: 20px;
      top: 85px; }

  .single #header {
    height: 700px;
    background-image: url(../images/single/bg-header-mobile.jpg) !important; }
  .single article ul.list-with-images li img {
    max-width: 100px; }
  .single #sidebar {
    width: 100%; } }
@media only screen and (max-width: 480px) {
  .single #header {
    height: 600px; }
  .single article h3:first-child {
    text-align: center; }
  .single article ul.list-with-images li {
    text-align: center; }
    .single article ul.list-with-images li img {
      max-width: 80px;
      display: block;
      margin: 0 auto 10px; }
    .single article ul.list-with-images li .details {
      display: block;
      width: 100% !important;
      margin: 0;
      padding: 0; } }
